@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 92%;
  margin: auto;
}

.align-right {
  text-align: right !important;
  display: block;
}

/* .section_title {
} */

::-webkit-scrollbar {
  width: 5px;
  background-color: #060709;
}

::-webkit-scrollbar-thumb {
  background: #6c0f50;
}

img {
  user-select: none;
}

.select-none {
  user-select: none;
}